<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakultura</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/styles/shared.css">
    <link rel="stylesheet" href="/styles/chat-room.css">
    <script src="/http://localhost:3001/socket.io/socket.io.js" defer></script>
    <script src="/scripts/poruke.js" defer></script>
</head>
<body id="telo">
    <%- include("includes/header") %> 
    <main>
        <h1><%= fakultet.naziv %></h1>
        <section id="prostorZaPoruke">
            
        </section>
        <div>
            <button id="primi" data-chatroomid="<%= fakultet._id %>" data-korisnickoime="<%= korisnickoIme %>">Ucitaj poruke</button>
        </div>
    </main>
    <footer>
        <form id="formaZaSlanjePoruka">
            <textarea name="poruka" id="poruka" cols="30" rows="5" required>Upisite poruku</textarea>
            <button id="posalji" data-chatroomid="<%= fakultet._id %>">Posalji</button>
        </form>
    </footer>
</body>
</html>
